<footer>
    <div class="container">
        <div class="row pt-5">
            <div class="col-sm">
                <p>&copy; 2021 Nike, Inc. All Rights Reserved</p>
            </div>
            <div class="col-sm">
                <ul>
                    <p>GET HELP</p>
                    <li>
                        <span>Contact Us</span>
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <ul>
                    <p>ABOUT SPORTS STORE</p>
                    <li>
                        <span>News</span>
                    </li>
                    <li>
                        <span>History</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>