<ngb-carousel *ngIf="slideProductsList">
    <ng-template ngbSlide *ngFor="let slideProducts of slideProductsList">
        <div class="picsum-img-wrapper">
            <div class="container">
                <div class="row">
                    <product class="col" *ngFor="let item of slideProducts" [model]="item"></product>
                </div>
            </div>
        </div>
    </ng-template>
    <div class="swiper-scrollbar">
        <div class="swiper-scrollbar-drag">
        </div>
    </div>
</ngb-carousel>